.row
  .col-md-12
    .well#filters
      = form_tag styles_path, method: :get do
        .row.form-group
          .col-md-3
            %label Appointment Name
            = select_tag '[filters][appointment_name]',                                    |
              options_for_select(Appointment.all.map(&:name).insert(0, ['---', nil]).uniq, |
                params[:filters].try(:[], :appointment_name)),                              |
              class: 'form-control'
          .col-md-3
            %label Status
            = select_tag '[filters][status]',                                            |
              options_for_select(Style.statuses.map{ |key, value| [key.titleize, value]} |
                .insert(0, ['---', nil]),                                                |
                params[:filters].try(:[], :status)), class: 'form-control'               |
          .col-md-3
            %label Style Number
            = text_field_tag '[filters][vendor_style_number]',
              params[:filters].try(:[], :vendor_style_number), class: 'form-control'
          .col-md-3
            %label Buyer
            = select_tag '[filters][user_id]', |
              options_for_select(current_company.users.map{|u| [u.name, u.id]}.insert(0, ['---', nil]).uniq, |
               params[:filters].try(:[], :user_id)), |
              class: 'form-control'
        .row.form-group
          .col-md-3
            %label Delivery Year
            = select_tag '[filters][delivery_year]', |
              options_for_select(options_for_year_picker(params), |
                params[:filters].try(:[], :delivery_year)), |
              class: 'form-control'
          .col-md-3
            %label Delivery Month
            = select_tag '[filters][delivery_month]', |
              options_for_select(options_for_month_picker(params), |
                params[:filters].try(:[], :delivery_month)), |
              class: 'form-control'

        .row
          .col-md-6
            = link_to 'Reset Filters', styles_path, class: 'btn btn-default'
          .col-md-6
            = submit_tag 'Filter', class: 'btn btn-primary pull-right'
