<%- if params[:action] == "new" %>
  <div class="row form-group">
    <%= form.file_field :photo, type: 'file', class: 'hidden'%>
    <div class="ghost-photo-input-group hidden">
      <label class="btn btn-success btn-file btn-block text-center">
        <i class="fa fa-plus" style="font-size: 30px;"></i><br>
        Add Photo <input type="file" name="style[photos][]" style="display: none;">
      </label>
      <img src="" style=''/>
    </div>
    <div class="col-sm-12 photo-upload-fields">
      <div class="photo-input-group">
        <label class="btn btn-success btn-file btn-block text-center">
          <i class="fa fa-plus" style="font-size: 30px;"></i><br>
          Add Photo <input type="file" name="style[photos][]" style="display: none;">
        </label>
        <img src="" style=''/>
      </div>
    </div>
  </div>
<% end %>

<div class="row form-group">
    <div class="col-sm-6">
        <label>Vendor Style Number</label>
        <%= form.text_field :vendor_style_number, class: 'form-control', :required => true %>
    </div>
    <div class="col-sm-6">
        <label>Wholesale Cost</label>
        <%= form.number_field :wholesale_cost, step: '.01', placeholder: '26.99', :class => 'form-control' %>
    </div>
</div>

<div class='form-group'>
    <a href="#demo" data-toggle="collapse">Advanced Fields</a>
</div>
<div id='demo', class="collapse">
    <div class="row form-group">
        <div class="col-sm-2">
            <label>Quantity</label>
            <%= form.number_field :quantity, step: '1', placeholder: '150', :class => 'form-control' %>
        </div>
        <div class="col-sm-4">
            <label>Negotiated Cost</label>
            <%= form.number_field :negotiated_cost, step: '.01', placeholder: '25.01', :class => 'form-control' %>
        </div>
        <div class="col-sm-4">
            <label>Retail Price</label>
            <%= form.number_field :retail_price, step: '.01', placeholder: '100.00', :class => 'form-control' %>
        </div>
        <div class="col-sm-2">
            <label>IMU:</label>
            <div id="imu-data-display">
                N/A
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-6">
            <label>Status</label>
            <%= form.select :status, options_for_select(Style.statuses.map{ |k,v| [k.humanize, k] }, @style.status), { }, class: 'form-control' %>
        </div>
        <div class="col-sm-6">
            <label>Delivery Date</label>
            <%= form.text_field :delivery_date, :class => 'form-control' %>
        </div>
    </div>
    <div class="row form-group">

        <div class="col-sm-4">
            <label>Exclusive?</label>
            <%= form.check_box :exclusive %>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-6">
            <label>Color</label>
            <%= form.text_field :color, :class => 'form-control' %>
        </div>
        <div class="col-sm-6">
            <label>Category</label>
            <%= form.select :category_name, options_for_select( Category.all.map{ |c| [c.display_name, c.name ] }, @style.category_name), { }, class: 'form-control' %>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-12">
            <label>Notes</label>
            <%= form.text_area :notes, :class => 'form-control' %>
        </div>
    </div>
</div><!-- collapse container -->


<div class="row">
    <div class="form-group col-md-12">
        <%= form.submit 'Submit Style', class: 'btn btn-primary btn-submit btn-block'%>
    </div>
    <div class="col-md-12">
        <%= link_to "Cancel", appointment_path(@appointment)%>
    </div>
</div>

<script>
  $(document).ready(function() {
    $( "#style_delivery_date" ).datepicker({
      dateFormat: "yy-mm-dd"
    });

    bind_imu_calculator();

  }); //end document ready
</script>
