.row.card-row
  .col-sm-4
    = render 'dashboard/cards/month_picker'
    = render 'dashboard/cards/budget_calendar'
  .col-sm-4
    = render 'dashboard/cards/budget_breakdown'
  .col-sm-4
    = render 'dashboard/cards/total_budget'
    = render 'dashboard/cards/incomplete_appointments'
    = render 'dashboard/cards/incomplete_styles'

%hr
.row.card-row.no-margin
  .col-md-6
    %h3.text-muted
      Appointments:
    - @dashboard_stats[:incomplete_appointments].each_with_index do |appointment|
      .list-group-item
        = link_to appointment.name, appointment_path(appointment)
        %i.fa.fa-exclamation.text-danger

    - @dashboard_stats[:complete_appointments].each do |appointment|
      .list-group-item
        = link_to appointment.name, appointment_path(appointment)
        %i.fa.fa-check.text-success

  .col-md-6
    %h3.text-muted
      Styles:
    - @dashboard_stats[:incomplete_styles].each do |style|
      .list-group-item
        = link_to style.vendor_style_number, appointment_style_path(style.appointment.id, style)
        %small
          = style.status


