.row
  .col-md-3
    - unless params[:start_date].present? && params[:end_date].present?
      From:
      = Date.current.beginning_of_month

  .col-md-12
    = form_tag root_path, method: :get do
      %label Start Date
      = text_field_tag 'start_date', params[:start_date], class: 'datepicker'

      %label End Date
      = text_field_tag 'end_date', params[:end_date], class: 'datepicker'
      = submit_tag




.row.card-row
  .col-md-4
    .card
      .h4
        Open Budget
      $100,000.00
      .h6
        Pending
      $20,000.00
  .col-md-4
    .card
      .h4
        Placed Budget
      $50,000.00
  .col-md-4
    .card
      .h4
        Total Budget
      $150,000.00

.row.card-row
  .col-md-6
    .card
      %ul.list-group
      .h4
        Appointments:
      - @dashboard_stats[:appointments].each do |appointment|
        .list-group-item
          = link_to appointment.name, appointment_path(appointment)

          %i.fa{class: (appointment.contains_incomplete_styles? ? 'fa-exclamation': 'fa-check')}
  .col-md-6
    .card
      %ul.list-group
      Incomplete Styles:
      - @dashboard_stats[:incomplete_styles].each do |appointment|
        .list-group-item
          = link_to appointment.name, appointment_path(appointment)

          %i.fa{class: (appointment.contains_incomplete_styles? ? 'fa-exclamation': 'fa-check')}



:javascript
  $(document).ready(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
    });

  }); //end document ready
