.row.card-row
  .col-sm-4
    = render 'dashboard/cards/total_budget'
    = render 'dashboard/cards/month_picker'
  .col-sm-4
    = render 'dashboard/cards/budget_breakdown'
  .col-sm-4
    = render 'dashboard/cards/incomplete_appointments'
    = render 'dashboard/cards/incomplete_styles'
    #reminders-container
      = render 'dashboard/cards/fetch_reminders'

%hr
.row.card-row.no-margin
  .col-md-6
    %h3.text-muted
      Appointments:
    - @dashboard_stats[:incomplete_appointments].each_with_index do |appointment|
      .list-group-item
        = link_to appointment.name, appointment_path(appointment)
        %i.fa.fa-exclamation.text-danger

    - @dashboard_stats[:complete_appointments].each do |appointment|
      .list-group-item
        = link_to appointment.name, appointment_path(appointment)
        %i.fa.fa-check.text-success

  .col-md-6
    %h3.text-muted
      Styles:
    = form_tag styles_path, method: :get do
      .row
        .col-md-10
          = select_tag '[filters][status]',                               |
          options_for_select(                                             |
            Style.statuses.map{ |key, value| [key.titleize, value]}.      |
            insert(0, ['---', nil]), params[:filters].try(:[], :status)), |
            class: 'form-control'
          / .list-group-item#style-selection-bar
          /   = 'Created'
          /   = check_box_tag 'created'
          /   = '&nbsp &nbsp'.html_safe
          /   = 'Pending'
          /   = check_box_tag 'pending'
          /   = '&nbsp &nbsp'.html_safe
          /   = 'Placed'
          /   = check_box_tag 'placed'
        .col-md-2
          = submit_tag '>', class: 'btn btn-primary'
    #created-style-div
      -# TODO finish this
      - @dashboard_stats[:all_styles].each do |style|
        .list-group-item
          = link_to style.vendor_style_number, |
          appointment_style_path(style.appointment.id, style)
          %small
            = style.status
