.row.card-row
  .col-sm-4
    = render 'dashboard/cards/total_budget'
    = render 'dashboard/cards/month_picker'
  .col-sm-4
    = render 'dashboard/cards/budget_breakdown'
  .col-sm-4
    = render 'dashboard/cards/incomplete_appointments'
    = render 'dashboard/cards/incomplete_styles'
    #reminders-container
      = render 'dashboard/cards/fetch_reminders'

%hr
.row.card-row.no-margin
  .col-md-6
    %h3.text-muted
      Appointments:
    - @dashboard_stats[:incomplete_appointments].each_with_index do |appointment|
      .list-group-item
        = link_to appointment.name, appointment_path(appointment)
        %i.fa.fa-exclamation.text-danger{data:{toggle: "tooltip"}, title: "This appointment has some styles that are still created or pending."}

    - @dashboard_stats[:complete_appointments].each do |appointment|
      .list-group-item
        = link_to appointment.name, appointment_path(appointment)
        %i.fa.fa-check.text-success{data:{toggle: "tooltip"}, title: "All styles have been processed!"}



  .col-md-6
    %h3.text-muted
      Styles
    #style-tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#created-styles"} 
            Created
        %li
          %a{"data-toggle" => "tab", :href => "#pending-styles"} Pending
        %li
          %a{"data-toggle" => "tab", :href => "#placed-styles"} Placed
        %li
          %a{"data-toggle" => "tab", :href => "#incomplete-styles"} Incomplete
      .tab-content
        - %w(created pending placed incomplete).each_with_index do |status, i|
          .tab-pane{id: "#{status}-styles", class: ('active' if i == 0).to_s }
            %ul.list-group
              - @dashboard_stats["#{status}_styles".to_sym].each do |style|
                .list-group-item
                  = link_to style.vendor_style_number, appointment_style_path(style.appointment.id, style)
                  = style.status
       
  //.col-md-6
  //  %h3.text-muted
  //    Styles:
  //  = form_tag styles_path, method: :get do
  //    .row
  //      .col-md-12
  //        .input-group
  //          = select_tag '[filters][status]',                               |
  //          options_for_select(                                             |
  //            Style.statuses.map{ |key, value| [key.titleize, value]}.      |
  //            insert(0, ['---', nil]), params[:filters].try(:[], :status)), |
  //            class: 'form-control'
  //          %span.input-group-btn
  //            = submit_tag '>', class: 'btn btn-primary'
  //  -# TODO finish this
  //  - @dashboard_stats[:all_styles].each do |style|
  //    .list-group-item
  //      = link_to style.vendor_style_number, |
  //      appointment_style_path(style.appointment.id, style)
  //      %small
  //        = style.status
