.row.card-row
  .col-md-4
    .card
      = form_tag root_path, method: :get do
        %select.form-control{name: 'merch_month', onchange: "this.form.submit()"}
          = options_for_merch_date_picker(params)

  .col-md-4
    .card
      .row
        .col-md-12
          %canvas#chart{style:'width: 200px;height:150px;'}
      .row
        .col-md-4
          %small.text-muted
            Open
            %br
          = number_to_currency(@budget[:open])
        .col-md-4
          %small.text-muted
            Pending
            %br
          = number_to_currency(@budget[:pending])
        .col-md-4
          %small.text-muted
            Placed
            %br
          = number_to_currency(@budget[:placed])
  .col-md-4
    .card
      %small.text-muted
        Total Budget
      .total-budget
        = number_to_currency(@budget[:total])
    .card.card-row
      %small.text-muted
        Open Appointments
        34
    .card.card-row
      %small.text-muted
        Open Styles
        34

%hr
.row.card-row
  .col-md-6
    %ul.list-group
    %small.text-muted
      Appointments:
    - @dashboard_stats[:incomplete_appointments].each do |appointment|
      .list-group-item
        = link_to appointment.name, appointment_path(appointment)
        %i.fa.fa-exclamation.text-danger

    - @dashboard_stats[:complete_appointments].each do |appointment|
      .list-group-item
        = link_to appointment.name, appointment_path(appointment)
        %i.fa.fa-check.text-success

  .col-md-6
    %ul.list-group
    %small.text-muted
      Incomplete Styles:
    - @dashboard_stats[:incomplete_styles].each do |style|
      .list-group-item
        = link_to style.vendor_style_number, appointment_style_path(style.appointment.id, style)
        %small
          = style.status



:javascript
  $(document).ready(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
    });

    var data = {
        labels: [
            "Open",
            "Pending",
            "Placed"
        ],
        datasets: [
            {
                data: [#{@budget[:open]}, #{@budget[:pending]}, #{@budget[:placed]}],
                backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ],
                hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56"
                ]
            }]
    };

    var ctx = document.getElementById("chart");
    var myPieChart = new Chart(ctx,{
        type: 'pie',
        data: data,
        options: {}
    });


  }); //end document ready
