<div class="row form-group">
	<div class="col-sm-6">
		<label>Appointment Name</label>
		<%= form.text_field :name, :placeholder => 'ex: Appointment Name', :class => 'form-control', :required => true, :autofocus => "autofocus" %>
	</div>
	<div class="col-sm-6">
		<label>Buyer</label>
		<%= form.select :user_id, options_for_select( User.all.map{ |u| [u.name, u.id] }, current_user.id), { }, class: 'form-control' %>
	</div>
</div>
<div class="row form-group"> 
	<div class="col-sm-6">
		<label>Scout Date</label>
		<%= form.text_field :scout_date, :class => 'form-control', :required => true %>
	</div>
	<div class="col-sm-6">
		<label>Location</label>
		<%= form.text_field :location, :class => 'form-control' %>
	</div>
</div>
<div class="row form-group"> 
	<div class="col-md-12">
		<label>Appointment Notes</label>
		<%= form.text_area :notes, :class => 'form-control' %>
	</div>
</div>
<div class="half-wide">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
<div class="form-group half-wide text-right">
	<%= form.submit "Submit Appointment", class: "btn btn-primary" %>
</div>

<script>
$(document).ready(function() {
    $( "#appointment_scout_date" ).datepicker({
    	  dateFormat: "yy-mm-dd"
    });
  });
</script>