%div
  / Nav tabs
  %ul.nav.nav-tabs{:role => "tablist"}
    - if current_user.administrator?
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#style-categories", :role => "tab"} Style Categories
    / TODO: this stopped working
    / %li{:role => "presentation"}
    /   %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} Profile
    %li{:role => "presentation"}
      %a{"aria-controls" => "company-settings", "data-toggle" => "tab", :href => "#company-settings", :role => "tab"} Company Settings
  / Tab panes

  .tab-content
    - if current_user.administrator?
      #style-categories.tab-pane.active{:role => "tabpanel"}
        = render partial: "shared/categories/index"

    / #profile.tab-pane{:role => "tabpanel"}
    /   = render partial: "shared/users/profile_config"

    #company-settings.tab-pane{:role => "tabpanel"}
      .row
        .col-sm-6
          .well
            %h4 Company Name
            = form_for current_company, url: company_path(current_company), method: :put do |f|
              = f.text_field :name, class: 'form-control'
          %ul.list-group
            .list-group-item
              .row
                .col-md-6
                  Company Members
                .col-md-6
                  Role
            - current_company.users.each do |user|
              %li.list-group-item
                .row
                  .col-md-6
                    = link_to user.name, edit_settings_user_path(user), remote:true
                  .col-md-6
                    = user.administrator? ? "Admin" : "Not Admin"
        .col-sm-6
          #user-form-container
