.modal-dialog
  .modal-content
    = form_for @budget, url: dashboard_budgets_path, method: :post do |f|
      = hidden_field_tag 'dashboard[merch_month]', params[:merch_month]
      = hidden_field_tag 'dashboard[merch_year]', params[:merch_year]
      .modal-body
        %h3 New Budget
        %hr.style4{:style => "margin: 5px 0 5px 0"}/
        .form-group
        %label Year
        = f.text_field :year, class: 'form-control', value: params[:merch_year] || Date.current.year
        %label Month
        %select.form-control{name: '[budget][merch_month]'}
          = options_for_merch_month_picker(@params)
        %label Value
        = f.text_field :value, class: 'form-control'
      .modal-footer
        = f.submit "Create", class: "btn btn-primary"
