<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Edit Style
			</div>
			<div class="panel-body">
				<%= form_for @style, url: appointment_style_path(@appointment, @style), method: :put do |f| %>
					<div class="form-group">
						<label>Name</label>
						<%= f.text_field :name, placeholder: @style.name, :class => 'form-control' %> <%# shows the style name after deleted #%>
					</div>
					<div>
						<%= f.submit "Update Style", class: "btn btn-primary" %>
						<%= link_to "Delete", appointment_style_path(@appointment, @style), method: :delete, class: "btn btn-danger pull-right" %>
					</div>
					<dir>
						<%= link_to "Cancel", appointment_style_path%>
					</dir>
				<% end %>
			</div>
		</div>
	</div>
</div>