.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        All Styles
      .panel-body
        .form-group
          %button.btn.btn-default{"data-target" => "#filterContainer", "data-toggle" => "collapse"}
            %i.fa.fa-filter
            Filters
        #filterContainer{class: ('collapse' unless params[:filters].present?)}
          = render partial: 'shared/styles/filters'
      %hr#style-index-line/
      .hidden-xs
        %table.table
          %thead
            %tr
              %th
              %th Style Number
              %th Product Set
              %th Status
              %th Buyer
              %th
                = scout_date_sort_link(params)
              %th
                = delivery_date_sort_link(params)
              %th Markup
              %th Cost
              %th Retail Price
              %th
          %tbody
            - @styles.each do |style|
              %tr{:id => "style-id-#{style.id}"}
                %td.text-center
                  - if style.default_photo
                    = link_to appointment_style_attachments_path(style.appointment.id, style), remote: true do
                      = image_tag style.default_photo('square'), style:'width:60px;'
                  - else
                    \--
                %td
                  = link_to style.vendor_style_number, appointment_style_path(style.appointment, style)
                %td
                  = style.appointment.name
                %td
                  = form_for style, url: appointment_style_update_status_path(style.appointment_id, style), method: :put, remote: true do |f|
                    = hidden_field_tag :authenticity_token, form_authenticity_token
                    = f.select :status, options_for_select( Style.statuses.map{ |k,v| [k.humanize, k] }, style.status), { }, onchange: "$(this.form).submit();", class: 'form-control'
                    = f.submit ' ', class: "hidden"
                %td
                  = style.appointment.user.name
                %td
                  - if style.appointment.scout_date.present?
                    = style.appointment.scout_date.strftime('%b %e, %Y')
                  - else
                    N/A
                %td
                  - if style.delivery_date.present?
                    = style.delivery_date.strftime('%b %e, %Y')
                  - else
                    N/A
                %td
                  = number_to_percentage style.initial_mark_up, precision: 2
                %td
                  = number_to_currency style.wholesale_cost, precision: 2
                %td
                  = number_to_currency style.retail_price, precision: 2
                %td.text-right
      / end
      .visible-xs
        - @styles.each do |style|
          = link_to appointment_style_path(style.appointment, style) do
            .panel-body
              .well
                = style.vendor_style_number
    = will_paginate(@styles)

    - if @styles.empty?
      .row
        .col-md-6.col-md-offset-3
          = link_to new_appointment_path, remote: true, class: "btn btn-primary btn-block btn-lg" do
            ADD APPOINTMENT
