.panel.panel-default
  %ul.panel-heading.breadcrumb
    %li= link_to @appointment.name, appointment_path(@appointment)
    %li.active= @style.vendor_style_number
    %span.pull-right
      %li= render partial: "shared/styles/edit_buttons", locals: {appointment: @appointment, style: @style}
  .panel-body
    .row.form-group
      .col-sm-3
        - if @style.default_photo
          = image_tag @style.default_photo, style: "max-height: 100%; max-width: 100%;"
        - else
          %i.fa.fa-file-image-o.fa-5x{ style: "padding: 65px;"}
      .col-sm-9
        = form_for @style, url: appointment_style_path(@appointment, @style), method: :put do |f|
          .row
            .col-md-4
              .form-inline.form-group
                %label Style Number:
                = f.text_field :vendor_style_number, class: 'form-control pull-right'
              .form-inline.form-group
                %label Status:
                = f.select :status, options_for_select(Style.statuses.map{ |k,v| [k.humanize, k] }, @style.status), { }, class: 'form-control pull-right'
              .form-inline.form-group
                %label
                  Exclusive:
                = f.check_box :exclusive, class: 'pull-right'
            .col-md-4
              .form-inline.form-group
                %label Wholesale Cost:
                = f.text_field :wholesale_cost, class: 'form-control pull-right'
              .form-inline.form-group
                %label Negotiated Cost:
                = f.text_field :negotiated_cost, class: 'form-control pull-right'
              .form-inline.form-group
                %label Retail Price:
                = f.text_field :retail_price, class: 'form-control pull-right'
              .form-inline.form-group
                %label Quantity:
                = f.text_field :quantity, class: 'form-control pull-right'
              .form-inline.form-group
                %label IMU:
                %strong.pull-right#imu-data-display
                  = number_to_percentage @style.initial_mark_up, precision: 2
            .col-md-4
              .form-inline.form-group
                %label Color:
                = f.text_field :color, class: 'form-control pull-right'
              .form-inline.form-group
                %label Delivery Date:
                = f.text_field :delivery_date, class: 'form-control pull-right'
          .row.form-group
            .col-md-12
              %label Notes:
              = f.text_area :notes, class: 'form-control', rows: 5
          .row
            .col-md-12
              = f.submit 'Update', class: 'btn btn-primary pull-right'

.row
  - @style.attachments.each do |attachment|
    .col-md-2
      .well
        = link_to appointment_style_attachments_path(@appointment, @style), remote: true do
          = image_tag attachment.photo.url('square'), :style=>'display: block; margin: auto; max-width:100%;'
        = link_to 'Delete', appointment_style_attachment_path(@appointment, @style, attachment), |
          data: {confirm: 'Are You Sure?'}, method: :delete                                      |
        |
        \#{link_to 'Make Default', appointment_style_path(@appointment, @style, style: {default_attachment_id: attachment.id}), method: :put}

  = render 'styles/add_photo'



:javascript
  $(document).ready(function() {
    bind_imu_calculator();

    $( "#style_delivery_date" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  })