<div class="panel panel-default">
	<div class="panel-heading">
		<%= link_to @appointment.name, appointment_path(@appointment) %>
		>
		<%= style_name_helper(@style) %>
	</div>

	<div class="panel-body">
		<div class="row form-group">
			<div class="col-md-4">
				Vendor Style Number:
				<code>
					<%= @style.vendor_style_number %>
				</code>
			</div>
			<div class="col-md-4">
				style vendor number:
			</div>
			<div class="col-md-4">
				Category:
				<%= @style.category.name %>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-4">
				Cost
				<%= number_to_currency @style.wholesale_price %>
			</div>
			<div class="col-md-4">
				Negotiated Cost
				<%= number_to_currency @style.negotiated_price %>
			</div>
			<div class="col-md-4">
				Retail Price
				<%= number_to_currency @style.retail_price %>
			</div>
		</div>
		<hr>
		<hr>
	</div>
</div>