<div class="panel panel-default">
	<ul class="panel-heading breadcrumb">
		<li><%= link_to @appointment.name, appointment_path(@appointment) %></li>
		<li class="active"><%= @style.vendor_style_number %></li>
		<span class="pull-right">
			<li><%= render partial: "shared/styles/edit_buttons", locals: {appointment: @appointment, style: @style} %></li>
		</span>
	</ul>
	<div class="panel-body">
		<div class="col-md-3">
			<%- if @style.default_photo %>
				<%= image_tag @style.default_photo, style: "max-height: 100%; max-width: 100%;" %>
			<%- else %>
				<%= image_tag('https://www.placecage.com/400/300', style: "height: 200px; max-width: 100%;") %>
			<%- end %>
		</div>
		<div class="col-md-9">
			<h2 style="margin-top: 0px;">
				<%= @style.vendor_style_number %>
			</h2>
			<div class="row form-group">
				<div class="col-sm-3 col-md-3">
					Status:
					<%=@style.status.titleize%>
				</div>
				<div class="col-sm-3 col-md-3">
					Category:
					<%= @style.category_name.titleize %>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-3">
					Cost:
					<%= number_to_currency @style.wholesale_cost %>
				</div>
				<div class="col-md-3">
					Negotiated Cost:
					<%= number_to_currency @style.negotiated_cost %>
				</div>
				<div class="col-md-3">
					Retail Price:
					<%= number_to_currency @style.retail_price %>
				</div>
				<div class="col-md-3">
					IMU:
					<%= number_to_percentage @style.initial_mark_up, precision: 2 %>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-3">
					Quantity:
					<%= @style.quantity%>
				</div>
				<div class="col-md-3">
					Delivery:
					<%= @style.delivery_date %>
				</div>
				<div class="col-md-3">
					Color:
					<%= @style.color %>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-6">
					Notes:
					<%= @style.notes %>
				</div>
			</div>
		</div>
		<!-- <div class='row'>
			<%- @style.attachments.each do |attachment| %>
				<div class='col-md-3'>
					<%= image_tag attachment.photo.url, :style=>'max-height:180px;' %>
				</div>
			<% end %>
		</div> -->
		<div class="row">
			<div class='col-md-12'>
				<%= form_for :attachment, url: appointment_style_attachments_path(@appointment, @style), method: :post do |f| %>
					<label>Photo</label>
					<%= f.file_field :photo %>
					<%= f.submit %>
				<% end %>
			</div>
		</div>
	</div>
</div>