<div class="panel panel-default">
	<ul class="panel-heading breadcrumb">
		<li><%= link_to @appointment.name, appointment_path(@appointment) %></li>
		<li class="active"><%= @style.vendor_style_number %></li>
		<span class="pull-right">
			<li><%= render partial: "shared/styles/edit_buttons", locals: {appointment: @appointment, style: @style} %></li>
		</span>
	</ul>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3">
				<%- if @style.default_photo %>
					<%= image_tag @style.default_photo, style: "max-height: 100%; max-width: 100%;" %>
				<%- else %>
					<i class="fa fa-file-image-o fa-5x", style="padding: 65px;"></i>
				<%- end %>
			</div>
			<div class="col-sm-9">
				<h2 style="margin-top: 0px;">
					<%= @style.vendor_style_number %>
				</h2>
				<div class="row form-group">
					<div class="col-sm-3 col-md-3">
						<strong>Status:</strong>
						<%=@style.status.titleize%>
					</div>
					<div class="col-sm-3 col-md-3">
						<strong>Category:</strong>
						<%= @style.category_name.titleize if @style.category_name.present? %>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-3">
						<strong>Cost:</strong>
						<%= number_to_currency @style.wholesale_cost %>
					</div>
					<div class="col-sm-3">
						<strong>Negotiated Cost:</strong>
						<%= number_to_currency @style.negotiated_cost %>
					</div>
					<div class="col-sm-3">
						<strong>Retail Price:</strong>
						<%= number_to_currency @style.retail_price %>
					</div>
					<div class="col-sm-3">
						<strong>IMU:</strong>
						<%= number_to_percentage @style.initial_mark_up, precision: 2 %>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-3">
						<strong>Quantity:</strong>
						<%= @style.quantity%>
					</div>
					<div class="col-sm-3">
						<strong>Delivery:</strong>
						<%= @style.delivery_date %>
					</div>
					<div class="col-sm-3">
						<strong>Color:</strong>
						<%= @style.color %>
					</div>
					<div class="col-sm-3">
						<strong>Exclusive?</strong>
						<%= @style.exclusive? ? "Yes" : "No" %>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<strong>Notes:</strong>
						<%= form_for @style, url: appointment_style_path(@appointment, @style), method: :put do |f| %>
							<div class="form-group">
								<%= f.text_area :notes, class: 'form-control', rows: 6 %>
							</div>
							<%= f.submit 'Update Notes', class: 'btn btn-primary' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<%- @style.attachments.each do |attachment| %>
				<div class='col-md-2'>
					<div class="well">
						<a href="#" data-featherlight="<%= attachment.photo.url('large') %>">
							<%= image_tag attachment.photo.url('square'), :style=>'display: block; margin: auto; max-width:100%;' %>
						</a>
						<%= link_to 'Delete', appointment_style_attachment_path(@appointment, @style, attachment), 
							data: {confirm: 'Are You Sure?'}, method: :delete %>
						|
						<%= link_to 'Make Default', 
							appointment_style_path(@appointment, @style, style: {default_attachment_id: attachment.id}),
							method: :put %>
					</div>
				</div>
			<% end %>
			<%= form_for :attachment, url: appointment_style_attachments_path(@appointment, @style), method: :post do |f| %>
			  <%= f.file_field :photo, type: 'file', class: 'hidden'%>

				<div class="col-md-4">
					<div class="well photo-upload-well">
						<div class="ghost-photo-input-group hidden">
						  <label class="btn btn-success btn-file">
						    Browse <input type="file" name="style[photos][]" style="display: none;">
						  </label>
						  <img src="#" style=/>
						</div>
						<div class="row">
							<div class="col-sm-12 photo-upload-fields">
							  <div class="photo-input-group">
							    <label class="btn btn-success btn-file">
							      Browse <input type="file" name="style[photos][]" style="display: none;">
							    </label>
							    <img src="#" style=/>
							  </div>
							</div>
						</div>
						<%= f.submit 'Upload', class: 'hidden submit' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>