<div class="panel panel-default">
	<ul class="panel-heading breadcrumb">
		<li><%= link_to @appointment.name, appointment_path(@appointment) %></li>
		<li class="active"><%= style_name_helper(@style) %> - <%=@style.status.titleize%></li>
		<span class="pull-right">
			<li><%= render partial: "shared/styles/edit_buttons", locals: {appointment: @appointment, style: @style} %></li>
		</span>
	</ul>
	<div class="panel-body">
		<div class="row form-group">
			<div class="col-md-4">
				Vendor Style Number:
				<code>
					<%= @style.vendor_style_number %>
				</code>
			</div>
			<div class="col-md-4">
				Vendor Style Name:
			</div>
			<div class="col-md-4">
				Category:
				<%= @style.category_name.titleize %>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-4">
				Cost
				<%= number_to_currency @style.wholesale_cost %>
			</div>
			<div class="col-md-4">
				Negotiated Cost
				<%= number_to_currency @style.negotiated_cost %>
			</div>
			<div class="col-md-4">
				Retail Price
				<%= number_to_currency @style.retail_price %>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-4">
				Quantity:
				<%= @style.quantity%>
			</div>
			<div class="col-md-4">
				Delivery Date:
				<%= @style.delivery_date %>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-6">
				Notes:
				<%= @style.notes %>
			</div>
		</div>
	</div>
</div>