<div class='well'>
	<div class="row">
		<%- appointment.styles.order('created_at').each do |style| %>
			<div class="col-md-2">
				<%= link_to appointment_style_path(appointment, style) do %>
					<div class="panel panel-default highlight" style="margin-bottom:0px;">
						<div class="panel-body text-center">
							<div>
								<%= style.vendor_style_number %>
							</div>
							<div>
								<%= image_tag('https://www.placecage.com/100/100', style: "max-width: 100%;") %>
							</div>
							<div>
								<%= style.status.titleize %>
							</div>
						</div>
					</div>
				<% end %>
				<%= form_for style, url: appointment_style_update_status_path(appointment, style), method: :put, remote: true do |f| %>
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<%= f.select :status, options_for_select( Style.statuses.map{ |k,v| [k.humanize, k] }, style.status), { }, onchange: "$(this.form).submit();", class: 'form-control' %>
					<%= f.submit '', class: "hidden" %>
				<% end %>
			</div>
		<% end %>
		<div class="col-md-2">
			<%= link_to new_appointment_style_path(appointment), remote: true do %>
				<div class="panel panel-default highlight">
					<div class="panel-body text-center">
						<div>
							<i class="fa fa-plus-square fa-5x" style="margin: 34px 0"></i>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-11">
			<%= link_to 'View Appointment', appointment_path(appointment) %>
		</div>
	</div>
</div>