<div class='well well-sm'>
	<div class="row">
		<%- appointment.styles.order('created_at').each do |style| %>
			<div class="col-sm-6 col-md-4", id="style-id-<%= style.id %>">
			    <div class="thumbnail", style="margin-bottom:0px;">
			      <div class="text-center">
					<%- if style.default_photo %>
						<%= image_tag style.default_photo, style: "height: 200px; max-width: 100%;" %>
					<%- else %>
						<i class="fa fa-file-image-o fa-5x", style="padding: 65px;"></i>
					<%- end %>
				</div>
			      <div class="caption">
			        <h4>
			        	<%= link_to "#{ style.vendor_style_number }", appointment_style_path(appointment, style)%>
			        </h4>
			        <h4>
					<span class="label label-primary">
						Status: 
						<span class="status-label"><%= style.status.titleize %></span>
					</span>
					<span class="label label-warning">
						Delivery: <%= style.delivery_date %>
					</span>
				   </h4>
				   <h4>
				   	<span class="label label-info">
						Retail: <%= number_to_currency( style.retail_price )%>
					</span>
				   	<span class="label label-success">
						IMU: <%= number_to_percentage( style.initial_mark_up, precision: 2 )%>
					</span>
				   </h4>
			      </div>
			    </div>
				<%= form_for style, url: appointment_style_update_status_path(appointment, style), method: :put, remote: true do |f| %>
					<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
					<%= f.select :status, options_for_select( Style.statuses.map{ |k,v| [k.humanize, k] }, style.status), { }, onchange: "$(this.form).submit();", class: 'form-control' %>
					<%= f.submit ' ', class: "hidden" %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>