<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Edit Appointment
			</div>
			<div class="panel-body">
				<%= form_for @appointment, url: appointment_path(@appointment), method: :put do |f| %>
					<div class="form-group">
						<label>Name</label>
						<%= f.text_field :name, :placeholder => @appointment.name, :class => 'form-control' %>
					</div>
					<div>
						<%= f.submit "Update Appointment", class: "btn btn-primary" %>
						<%= link_to "Delete", appointment_path(@appointment), method: :delete, class: "btn btn-danger pull-right" %>
					</div>
					<dir>
						<%= link_to "Cancel", appointment_path%>
					</dir>
				<% end %>
			</div>
		</div>
	</div>
</div>