.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = params[:controller] == "users/appointments" ? "My" : "All"
        Appointments
        .pull-right
          = link_to 'Add New Appointment', new_appointment_path, remote: true
      %br/
      .hidden-xs
        %table.table
          %thead
            %tr
              %th Appointment Name
              %th Open Styles
              %th Buyer
              %th Date
              %th Location
              %th Avg IMU %
              %th AIR
              %th
          %tbody
            - @appointments.each do |appointment|
              %tr
                %td
                  = link_to appointment.name, appointment_path(appointment)
                %td
                  = appointment.styles.open.count
                  of #{appointment.styles.length}
                %td
                  = appointment.user.name
                %td
                  - if appointment.scout_date.present?
                    = appointment.scout_date.strftime('%b %e, %Y')
                  - else
                    N/A
                %td
                  = appointment.location
                %td
                  = number_to_percentage appointment.weighted_average_imu, precision: 2
                %td
                %td.text-right
                  = render partial: "shared/appointments/edit_buttons", locals: {appointment: appointment}
      .visible-xs
        - @appointments.each do |appointment|
          = link_to appointment_path(appointment) do
            .panel-body
              .well
                = appointment.name

    = will_paginate(@appointments)
