<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Appointments
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item table-header">
						<div class="row">
							<div class="col-xs-2">
								Name
							</div>
							<div class="col-xs-1">
								Styles
							</div>
							<div class="col-xs-2">
								Buyer
							</div>
							<div class="col-xs-2">
								Date
							</div>
							<div class="col-xs-2">
								Location
							</div>
							<div class="col-xs-2">
								Average IMU %
							</div>
							<div class="col-xs-1">
							</div>
						</div>
					</li>
					<%- @appointments.each do |appointment| %>
						<li class="list-group-item">
							<div class="row">
								<div class="col-xs-2">
									<%= link_to appointment.name, "#", "data-toggle" => "collapse", "data-target" => "#appointment-metadata-#{appointment.id}" %>
								</div>
								<div class="col-xs-1">
									<%= appointment.styles.length %>
								</div>
								<div class="col-xs-2">
									<%= appointment.buyer %>
								</div>
								<div class="col-xs-2">
									<%- if appointment.scout_date.present? %>
										<%= appointment.scout_date.strftime('%B %e, %Y') %>
									<%- else %>
										N/A
									<% end %>
								</div>
								<div class="col-xs-2">
									<%= appointment.location %>
								</div>
								<div class="col-xs-2">
									<%= number_to_percentage appointment.average_imu, precision: 2 %> 
								</div>
								<div class="col-xs-1 text-right">
									<%= render partial: "shared/appointments/edit_buttons", locals: {appointment: appointment} %>
								</div>
							</div>
							<%= render partial: "appointment_metadata", locals: {appointment: appointment} %>
						</li>
					<% end %>
				</ul>
<!-- 				<div class="alert alert-success">
					Total: <%= @total %>
				</div> -->
			</div>
		</div>
	</div>
</div>