<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Appointments
				<div class="pull-right">
					<%= link_to 'Add New Appointment', new_appointment_path, remote: true %>
				</div>
			</div>
			<div class="hidden-xs">
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item table-header">
							<div class="row">
								<div class="col-xs-2">
									Name
								</div>
								<div class="col-xs-1">
									Styles
								</div>
								<div class="col-xs-1">
									Buyer
								</div>
								<div class="col-xs-2">
									Date
								</div>
								<div class="col-xs-2">
									Location
								</div>
								<div class="col-xs-2">
									Avg IMU %
								</div>
								<div class="col-xs-2">
								</div>
							</div>
						</li>
						<%- @appointments.each do |appointment| %>
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-2">
										<%= link_to appointment.name, "#", "data-toggle" => "collapse", "data-target" => "#appointment-metadata-#{appointment.id}" %>
									</div>
									<div class="col-xs-1">
										<%= appointment.styles.length %>
									</div>
									<div class="col-xs-1">
										<%= appointment.user.name %>
									</div>
									<div class="col-xs-2">
										<%- if appointment.scout_date.present? %>
											<%= appointment.scout_date.strftime('%b %e, %Y') %>
										<%- else %>
											N/A
										<% end %>
									</div>
									<div class="col-xs-2">
										<%= appointment.location %>
									</div>
									<div class="col-xs-2">
										<%= number_to_percentage appointment.average_imu, precision: 2 %> 
									</div>
									<div class="col-xs-2 text-right">
										<%= render partial: "shared/appointments/edit_buttons", locals: {appointment: appointment} %>
									</div>
								</div>
								<%= render partial: "appointment_metadata", locals: {appointment: appointment} %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
			<!-- view for extra small devices -->
			<div class='visible-xs'>
				<div class="panel-body">
					<%- @appointments.each do |a| %>
						<div class="panel panel-default">
							<div class="panel-body">
								<%= a.name %>
								<%= a.styles.count %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>