<div class="panel panel-default">
	<div class="panel-heading">
		<%= @appointment.name %> | 
		<%- if @appointment.scout_date.present? %>
			<%= @appointment.scout_date.strftime('%b %e, %Y') %>
		<%- else %>
			N/A
		<% end %>
		<div class="pull-right">
			<%= render partial: "shared/appointments/edit_buttons", locals: {appointment: @appointment} %>
		</div>	
	</div>

	<div class="panel-body">
		<div class="strong">
			Styles:
			<%= link_to "Add New Style", new_appointment_style_path(@appointment), class: "pull-right", remote: true %>
		</div>
		<ul class='list-group'>
			<li class="list-group-item table-header">
				<div class="row">
					<div class="col-sm-3">
						Vendor Style Number
					</div>
					<div class="col-sm-3">
						Category
					</div>
					<div class="col-sm-3">
						Name
					</div>
					<div class="col-sm-2">
						IMU %
					</div>
					<div class="col-sm-1">
					</div>
				</div>
			</li>
			<%- @appointment.styles.each do |style| %>
				<li class='list-group-item' > 
					<div class="row">
						<div class="col-sm-3">
							<%= link_to style.vendor_style_number, appointment_style_path(@appointment, style) %>
						</div>
						<div class="col-sm-3">
							<%= style.category_name %>
						</div>
						<div class="col-sm-3">
							<%= style.name %>
						</div>
						<div class="col-sm-2">
							<%= number_to_percentage(style.initial_mark_up, precision: 2) if style.initial_mark_up > 0 %>
						</div>
						<div class="col-sm-1">
							<%= link_to "Edit", edit_appointment_style_path(@appointment, style), class: "pull-right" %>
						</div>
					</div>
				</li>
			<% end %>	
		</ul>
		<div>
			
		</div>
	</div>
</div>
