<div class="panel panel-default">
	<ul class="panel-heading breadcrumb" style="margin-bottom: 0px">
		<li><%= link_to "All Appointments", appointments_path %></li>
		<li class="active">
			<%= @appointment.name %> | 
			<%- if @appointment.scout_date.present? %>
				<%= @appointment.scout_date.strftime('%b %e, %Y') %>
			<%- else %>
				N/A
			<% end %>
		</li>
		<span>
			<div class="pull-right">
				<%= render partial: "shared/appointments/edit_buttons", locals: {appointment: @appointment} %>
			</div>
		</span>	
	</ul>

	<div class="panel-body">
		<!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active">
		    	<a href="#style-grid-view" aria-controls="home" role="tab" data-toggle="tab">
		    		<i class="fa fa-th"></i>
		    	</a>
		    </li>
		    <li role="presentation">
		    	<a href="#style-list-view" aria-controls="profile" role="tab" data-toggle="tab">
		    		<i class="fa fa-list"></i>
		    	</a>
		    </li>
		  </ul>
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <!-- Grid View -->
		    <div role="tabpanel" class="tab-pane active" id="style-grid-view">
		      <%= render partial: "appointment_metadata", locals: {appointment: @appointment} %>
		    </div>
		    <!-- List View -->
		    <div role="tabpanel" class="tab-pane well" id="style-list-view">
		    	<table id="appointment-styles" class="display">
		    		<thead>
		    			<th>
		    				Vendor Style Number
		    			</th>
		    			<th>
		    				Status
		    			</th>
		    			 <th>
		    			 	Delivery Date 
		    			 </th>
		    			 <th>
		    			 	Retail
		    			 </th>
		    			 <th>
		    			 	IMU %
		    			 </th>
		    			 <th>

		    			 </th>
		    		</thead>
		    		<tbody>
		    			<%- @appointment.styles.each do |style| %>
		    				<tr>
		    					<td>
		    						<a class='btn-block appointment-container-toggle' data-toggle="collapse" data-target="#style-notes-metadata-<%= style.id %>">
									<%= image_tag style.default_photo('square'), style:'width:25px;' if style.default_photo %>
									<%= link_to style.vendor_style_number, appointment_style_path(@appointment, style) %>
									<span class="pull-right">
										<i class="fa fa-arrow-circle-down"> </i>
									</span>
								</a>
		    					</td>
		    					<td>
		    						<%= style.status.titleize %>
		    					</td>
		    					<td>
		    						<%= style.delivery_date%>
		    					</td>
		    					<td>
		    						<%= number_to_currency style.retail_price %>
		    					</td>
		    					<td>
		    						<%= number_to_percentage(style.initial_mark_up, precision: 2) if style.initial_mark_up > 0 %>
		    					</td>
		    					<td>
		    						<%= render partial: "shared/styles/edit_buttons", locals: {appointment: @appointment, style: style} %>
		    					</td>
		    				</tr>
		    			<% end %>
		    		</tbody>
		    	</table>
		    </div>
		</div>

		<!-- Below tab panes -->
		<div class="strong">
			Notes:
			<%= @appointment.notes %>
		</div>
		<div class="strong">
			<%= link_to "Add New Style", new_appointment_style_path(@appointment), class: "pull-right", remote: true %>
		</div>
		<%= link_to 'Export As CSV', appointment_export_path(@appointment, format: "csv"), class: "btn btn-primary" %>
	</div>
</div>

<script> 
	$('#appointment-styles').DataTable({
	  responsive: true
	});
</script>