<!DOCTYPE html>
<html>
	<head>
	  <title>Style Scout</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">
	</head>

	<body>
		<%- if current_user.present? %>
			<%= render partial:'shared/logged_in_nav' %>
			<div>
				<%= "Account Status: #{current_user.payment_account.try(:status)}" %>
			</div>
		<% else %>
			<%= render partial:'shared/default_nav' %>
		<% end %>
		<div class="container-fluid">
			<%= yield %>
		</div>
		<div id='modal' class='modal fade' role='dialog' ></div>
	</body>
</html>
